<!-- Header Area -->
<header class="header-area">
    
    
    <div class="navbar-area">
        <div class="floza-responsive-nav">
            <div class="container">
                <div class="floza-responsive-menu">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="floza-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand log" routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ml-auto">
                           
                            <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil</a></li>

                            <li class="nav-item"><a routerLink="/list-terrain" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Nos Terrains</a></li>
                            
                            <li class="nav-item"><a routerLink="/terrain" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Propriétaire terrain</a></li>
                            <li class="nav-item"><a routerLink="/lf" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">La carte</a></li>
                            

                            

                            

                            

                        </ul>
                    </div>
                    <div class="nav-btns">
                        <button class="btn-nav btn1" (click)="goTo()">Se connecter</button>
                        <button class="btn-nav btn2" (click)="goToS()">S'inscrire</button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->