<div class="cont">

    <div class="cal">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>


    <div class="res">

        <div class="align-items-center">
        
            <div class="order-form">
                <h2 class="title">Réserver le terrain</h2>
                
                
                <form (ngSubmit) = "onSubmit()" class="forms-sample">

                  
                    <div class="form-group">
                        <input type="text" [(ngModel)] = "res.nom" name="nom" class="form-control" placeholder="Nom">

                    </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)] = "res.email" name="email">

                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tel" [(ngModel)] = "res.tel" name="tel">

                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="Saisir une date" [(ngModel)] = "res.date" name="date">

                        </div>

                        <div class="form-group">

                            <div class="row">

                            <div class="col">
                                <select name="hi" id="hi" class="form-control" placeholder="Heure début" [(ngModel)] = "res.hi" >
                                    <option value="" disabled selected><span class="s-holder" >Début</span></option>
                                    <option value="07:00">07:00</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="19:00">19:00</option>
                                    <option value="20:00">20:00</option>
                                    <option value="21:00">21:00</option>
                                    <option value="22:00">22:00</option>
                                    <option value="23:00">23:00</option>
                                    <option value="00:00">00:00</option>
                                  </select>
                            </div>
                            
                           

                            <div class="col">
                                <select name="hf" id="hf" class="form-control" placeholder="Heure début" [(ngModel)] = "res.hf" >
                                    <option value="" disabled selected><span class="s-holder" >Fin</span></option>
                                    <option value="07:00">07:00</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="19:00">19:00</option>
                                    <option value="20:00">20:00</option>
                                    <option value="21:00">21:00</option>
                                    <option value="22:00">22:00</option>
                                    <option value="23:00">23:00</option>
                                    <option value="00:00">00:00</option>
                                  </select>
                            </div>
                            
                         </div>
                        </div>
                        
                    
                     <div class="row">

                        <div class="col">
                            <div class="text-center">
                                <button type="submit" class="default-btn-search btn2" >Effectuer une réservation</button>
                            </div>
                        </div>
                       
                        
                     </div>

                   
                </form>
            
                    </div>
       
    </div>

    </div>
    


    
</div>


