<!-- Page banner Area -->
<div class="page-banner bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>S'inscrire</h2>
                    <ul>
                        <li><a routerLink="/">Accueil</a></li>
                        <li>S'inscrire</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page banner Area -->

<!-- Start Sign up Area -->
<div class="sign-up-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Créer un compte!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quas cumque iste veniam id dolorem deserunt ratione error voluptas rem ullam.</p>
        </div>

        <div class="sign-up-form">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="first_name" placeholder="Prénom">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="last_name" placeholder="Nom">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Entez votre Username">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email ">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Confirmer le mot de passe">
                </div>

               
                
                <div class="text-center">
                    <button type="submit" class="btn default-btn-one">S'inscrire</button>
                    <p class="account-decs">Vous êtes déjà inscrit ? <a routerLink="/sign-in">Se connecter</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Sign up  Area -->

<!-- Newsletter Area -->

<!-- End Newsletter Area -->