<!-- Footer Area-->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="footer-widget">
                    <div class="logo">
                        <img src="assets/img/bg6.png" alt="logo">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="footer-socials">
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="footer-widget pl-80">
                    <h3>Liens</h3>
            
                    <ul class="footer-text">
                        <li><a routerLink="/about">Accueil</a></li>
                        <li><a routerLink="/services">Nos terrains</a></li>
                        <li><a routerLink="/">Nos services</a></li>
                        <li><a routerLink="/">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
            
            
            <div class="col-lg-3 col-sm-3">
                <div class="footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="info-list">
                        <li><i class='bx bxs-location-plus'></i> emsi, marrakech, maroc</li>
                        <li><i class='bx bxs-envelope'></i> <a href="foot@gmail.com">foot@gmail.com</a></li>
                      
                        <li><i class='bx bxs-phone'></i> <a href="tel:+0123456789">05 24 30 00 30</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Footer bottom Area -->

<!-- End Footer bottom Area -->

<!-- Go Top -->
<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
</div>
<!-- End Go Top -->