<div class="global">
    <div class="container-flex">
    
    
    <div class=" pad " >
       
            <div class="card position-relative sty" *ngFor="let t of ters ">
              <img src="assets/img/pic.jpg" class="card-img-top" alt="Card image cap">
             
        <button (click)="terrainDetails(t.id)" type="submit" class="default-btn-search position-absolute btn1" >Afficher les détails</button>
              <div class="card-body">
                <h5 class="card-title ">{{t.nom}}</h5>
    
                <p class="card-text">
                    <i class="bx bxs-location-plus coul"></i> {{t.adresse}}
                    
                  </p>
                  
                 
                <p class="card-text  "   >{{t.descr}}</p>
                
                    
                <p class="text-right  prix">{{t.prix}} <span class="dh">DH</span></p>
                 
              </div>
             
            </div>
           </div>
          
            
            
      </div>
    </div>